<ion-view title="Offers">
  
<ion-radio ng-model="choice" ng-value="'A'">Choose A</ion-radio>
<ion-radio ng-model="choice" ng-value="'B'">Choose A</ion-radio>
<ion-radio ng-model="choice" ng-value="'C'">Choose B</ion-radio>
<ion-radio ng-model="choice" ng-value="'B'">Choose C</ion-radio>
<ion-radio ng-model="choice" ng-value="'C'">Choose D</ion-radio>
<ion-radio ng-model="choice" ng-value="'B'">Choose E</ion-radio>
<ion-radio ng-model="choice" ng-value="'C'">Choose F</ion-radio>
<ion-radio ng-model="choice" ng-value="'B'">Choose G</ion-radio>
<ion-radio ng-model="choice" ng-value="'C'">Choose H</ion-radio>
<ion-radio ng-model="choice" ng-value="'B'">Choose I</ion-radio>
<ion-radio ng-model="choice" ng-value="'C'">Choose J</ion-radio>
<ion-radio ng-model="choice" ng-value="'B'">Choose E</ion-radio>
<ion-radio ng-model="choice" ng-value="'C'">Choose F</ion-radio>
<ion-radio ng-model="choice" ng-value="'B'">Choose G</ion-radio>
<ion-radio ng-model="choice" ng-value="'C'">Choose H</ion-radio>
<ion-radio ng-model="choice" ng-value="'B'">Choose I</ion-radio>
<ion-radio ng-model="choice" ng-value="'C'">Choose J</ion-radio>

  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
  </ion-nav-buttons>         
  <ion-content padding="true">
    <h1 style="text-align: center;">Oferiai</h1>
  </ion-content>
</ion-view>